<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Player:</strong>
  <%= render partial: 'players/card', locals: { player: Player.all.find_by(id: @team.player_id) } %>
  <%= @team.player_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
